<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bm/jq-3.6.0/jszip-2.5.0/dt-1.11.5/b-2.2.2/b-html5-2.2.2/b-print-2.2.2/datatables.min.js"></script>
<script>
        $(document).ready(function () {
            $('#data').DataTable(
                {
                    "scrollX": true,
                    "dom": 'Bfrtip',
                    "buttons": [
                        'copy', 'csv', 'excel', 'print'
                    ]

                }
            );
        });
    </script>