
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> Corrode Rust Consulting </title>
  <meta name="author" content="Volker Lorrmann">
  <meta property="og:title" content="EOD Stock Scans">

</head>

<body>
  
      
  
<h1>Legal Information</h1>
<div><p>You can reach me at volker.lorrmann@gmail.com.</p>
<p>You can write to me at: 97261 Güntersleben, Germany</p>
<p>Jurisdiction: Würzburg, Germany</p>
<p>Responsible for this publication is Volker Lorrmann, according to §5 TMG (Germany).</p>

</body>
</html>
